{% form 'cart', cart %}
  <section class="cart-sec">
    {% if cart.empty? %}
      <div class="empty-cart">
        <h3>Cart is empty</h3>
      </div>
    {% else %}
      <div>
        <h1>cart</h1>
        {% for item in cart.items %}
          <img
            width="200"
            height="200"
            loading="lazy"
            src="{{ item.image | img_url }}"
            alt="{{ item.title }}"
          >
          <h2>{{ item.title }}</h2>
          <p>{{ item.final_line_price | money }}</p>

          <hr>
          <input name="updates[]" value="{{item.quantity}}">
          <a class="remove-button" href="{{ item.url_to_remove }}">Remove from Cart</a>
          <p>Total: {{ cart.total_price | money }}</p>
        {% endfor %}
        <button class="cart-button" type="submit" name="checkout">Checkout</button>
      </div>
    {% endif %}
  </section>
{% endform %}

<style>
  .cart-sec {
    background-color: rgb(226, 226, 226);
    padding: 30px 50px;
    height: 100vh;
  }

  .cart-button {
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }

  .remove-button {
    text-decoration: underline;
    color: inherit;
  }
</style>

{% schema %}
  {
    "name": "cart",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#F7F7F7"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#000000"
      }
    ],
    "presets": [
      {
        "name": "cart"
      }
    ]
  }
  {% endschema %}
